/* static background image style for all pages */
.bg-light-green-mari {
	background: url('../res/images/myCoolBG.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	/* different browser css code for background size property*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}